.App-websocket {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%; 
  text-align: center;
}

.App-system {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  height: 50px; 
  margin: 10px auto;
  text-align: center;
}
